body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

p {
 font-size: 1.2em;
}

header {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(251, 197, 205);
}

nav {
    display: flex;
    justify-content: space-around;
    width: 1000px;
}

nav > button {
    width: 150px;
    height: 45px;
    border-radius: 32px;
    border-style: none;
    background-color: lightcoral;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

nav > button:hover {
    opacity: 85%;
}

#content {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 1000px;
}

#content-left {
    flex: 1;
}

#content-right {
    flex: 1;
}

#content-image {
    width: 400px;
}